/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Navbar------------------*/
.navbar{
  margin-bottom:0px;
}
/*Carousel Home Page------------------------------*/
.home{
  height: 36em;
}
.item{
  max-height:36em;
}
.item img{
  height:36em !important;
  width:100%;
}
#homeCarousel{
  height:36em;
}
.carousel-inner{
  height:36em;
}
